@model SolovevaSite.Domain.Models.Page

@{
    ViewData["Title"] = Model.Title;
}

<head>
    <link rel="stylesheet" href="../style.css">
</head>
<header>
    <div class="logo">
        <a href="main.html"><img width="150" height="150" src="../images/logo.png"></a>
    </div>
    <div class="plant">
        @Model.Title
    </div>
</header>

<section id="general">

    <div class="menu">
        <nav>
            <ul class="menu-main">
                <li>@Html.ActionLink("Главная", "Index", "Page")</li>
            </ul>
        </nav>

    </div>

    <div class="name">
        <h1>@Model.Title</h1>
    </div>


    <div class="first">
        <div class="text">
            <article class="care">
                <div class="image">
                    <img width="380" height="200" src="data:image/jpeg;base64,@(Convert.ToBase64String(@Model.Image))" />
                </div>
                @Html.Raw(Model.Text)
            </article>
        </div>
    </div>
</section>
<footer>
    <p>Copyright 2021 | <a asp-action="Add">Добавить страницу</a></p>
</footer>
